<!DOCTYPE html>
{% extends 'visualization/base.html' %}
{% load static %}

{% block head %}
  <meta charset="utf-8">
  <title>dji</title>
  <!-- 引入 echarts.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="{% static '/visualization/echarts.js' %}"></script>

  
  <script src="{% static '/visualization/style.css' %}"></script>

  <style>
    #dji{  text-align:center; position: absolute;
	top: 22%;
	left: 11%;
	right: 17%;
	bottom: 5%;}
    #left_nav_bar{  text-align:center; position: absolute;
	top: 30%;
	left: 10%;
	right: 90%;
	bottom: 80%;}
  </style>

  <style>
    /*Hidden class for adding and removing*/
    .lds-dual-ring.hidden {
        display: none;
    }

    /*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
    .overlay {
        position: fixed;
        top: 46.8%;
        left: 46.8%;
        width: 80%;
        height: 80%;
        background: #fff;;
        z-index: 999;
        opacity: 1;
        transition: all 2.0s;
    }
    
    /*Spinner Styles*/
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 50px;
        height: 50px;
        margin: 5% auto;
        border-radius: 50%;
        border: 4px solid #1D3557;
        border-color: #1D3557 transparent #1D3557 transparent;
        animation: lds-dual-ring 1.5s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
  </style>

{% endblock %}

{% block content %}
    <div id="loader" class="lds-dual-ring hidden overlay"></div>




    <!-- Navbar (sit on left) -->
    <div id="left_nav_bar">
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right">
            <br>
            <a href="{% url 'dji_view' %}" class="w3-bar-item w3-button w3-light-grey">DJI</a>
            <br>
            <a href="{% url 'ixic_view' %}" class="w3-bar-item w3-button">IXIC</a>
            <br>
            <a href="{% url 'ndx_view' %}" class="w3-bar-item w3-button">NDX</a>
            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> 
                    <a href="{% url 'dji_view' %}">reload</a>
              </button>
        </div>
        </div>
    </div>


    <div class="w3-container w3-padding-32" id="charts">
        <div id="loader" class="lds-dual-ring hidden overlay"></div>
        
        <h4 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="text-align:center"><br>DJI</h4>

        <div id="dji" ></div>

        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var djiChart = echarts.init(document.getElementById('dji'));
        
            $.ajax({
              type: "get",
              url: `/dji/data/`,
              dataType: "json",
              beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                    $('#loader').removeClass('hidden')
                },
              success: function (data) {

                // 指定图表的配置项和数据
                var option = {
                    color:["#E63946", "#A8DADC", "#457B9D", "#1D3557"],
                    title: {
                        left: 'center',
                        text: 'dji',
                        textStyle: {
                            fontFamily: 'Trebuchet MS',
                        },
                        show: false,
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        },
                        extraCssText:'width:160px;height:250px;',
                        position: function (point, params, dom, rect, size) {
                            return ['93%', '9%'];
                        },
                        textStyle: {
                            fontFamily: 'Trebuchet MS',
                            fontSize: 13,
                        },
                        alwaysShowContent: true,
                        renderMode:'html',
                        appendToBody: true,
                        formatter: (params) => {
                                    return params[0].name + "<br>" +
                                        params[0].marker + params[0].seriesName + ": " + params[0].data.toFixed(2) + "<br>" + 
                                        params[1].marker + params[1].seriesName + ": " + params[1].data.toFixed(2) + "<br>" + 
                                        params[2].marker + params[2].seriesName + ": " + params[2].data.toFixed(2) + "<br>" + 
                                        params[3].marker + params[3].seriesName + ": " + params[3].data.toFixed(2) + "<br>" +
                                        params[4].marker + params[4].seriesName + ": " + params[4].data.toFixed(2) + "<br>" +
                                        params[5].marker + params[5].seriesName + ": " + params[5].data.toFixed(2) + "<br>" +
                                        params[6].marker + params[6].seriesName + ": " + params[6].data.toFixed(2) + "<br>" +
                                        params[7].marker + params[7].seriesName + ": " + params[7].data.toFixed(2) + "<br>" +
                                        params[8].marker + params[8].seriesName + ": " + params[8].data.toFixed(2) + "<br>" +
                                        params[9].marker + params[9].seriesName + ": " + params[9].data.toFixed(2) + "<br>"
                            },
                        order : "seriesAsc",
                        axisPointer:'y',
                    },
                    legend: {
                        data: ['close','clmov','bsadf_mi', 'rho_45','bsmov','rho_sigma','s_mov','rho_trend','rho_trend2'],
                        left: '10%',
                        textStyle: {
                            fontFamily: 'Trebuchet MS',
                            fontSize: 11,
                        },
                    },
                    toolbox: {
                        feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                        }
                    },
                    axisPointer: {
                        link: [
                        {
                            xAxisIndex: 'all',
                        }
                        ]
                    },
                    dataZoom: [
                        {
                            show: true,
                            realtime: true,
                            start: 10,
                            end: 100,
                            xAxisIndex: [0, 1, 2, 3]
                        },
                        {
                            type: 'inside',
                            realtime: true,
                            start: 10,
                            end: 100,
                            xAxisIndex: [0, 1, 2, 3]
                        },
                        {
                            type: 'inside',
                            realtime: true,
                            start: 10,
                            end: 100,
                            xAxisIndex: [0, 1, 2, 3]
                        },
                        {
                            type: 'inside',
                            realtime: true,
                            start: 10,
                            end: 100,
                            xAxisIndex: [0, 1, 2, 3]
                        },
                    ],
                    grid: [
                        {
                            left: '15%',
                            right: '10%',
                            height: '25%'
                        },
                        {
                            left: '15%',
                            right: '10%',
                            top: '40%',
                            height: '13%'
                        },
                        {
                            left: '15%',
                            right: '10%',
                            top: '55%',
                            height: '13%'
                        },
                        {
                            left: '15%',
                            right: '10%',
                            top: '70%',
                            height: '13%'
                        },
                    ],
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            axisLine: { onZero: true },
                            data: data.time.map(function (str) {
                                return str.replace('T', ' ');
                            }).map(function (str) {
                                return str.replace('Z', ' ');
                            }),
                            show: false,
                            axisPointer: {
                                show: true,
                            },
                        },
                        {
                            gridIndex: 1,
                            type: 'category',
                            boundaryGap: false,
                            axisLine: { onZero: true },
                            data: data.time.map(function (str) {
                                return str.replace('T', ' ');
                            }).map(function (str) {
                                return str.replace('Z', ' ');
                            }),
                            position: 'bottom',
                            show: false,
                            textStyle: {
                                fontFamily: 'Trebuchet MS',
                            },
                            axisPointer: {
                                show: true,
                            }
                        },
                        {
                            gridIndex: 2,
                            type: 'category',
                            boundaryGap: false,
                            axisLine: { onZero: true },
                            data: data.time.map(function (str) {
                                return str.replace('T', ' ');
                            }).map(function (str) {
                                return str.replace('Z', ' ');
                            }),
                            position: 'bottom',
                            show: false,
                            textStyle: {
                                fontFamily: 'Trebuchet MS',
                            },
                            axisPointer: {
                                show: true,
                            },
                        },
                        {
                            gridIndex: 3,
                            type: 'category',
                            boundaryGap: false,
                            axisLine: { onZero: true },
                            data: data.time.map(function (str) {
                                return str.replace('T', ' ');
                            }).map(function (str) {
                                return str.replace('Z', ' ');
                            }),
                            position: 'bottom',
                            show: true,
                            textStyle: {
                                fontFamily: 'Trebuchet MS',
                            },
                            axisPointer: {
                                show: true,
                            },
                        },
                    ],
                    yAxis:  [
                        {
                            name: 'close\nclmov',
                            nameLocation:'middle',
                            nameGap:42,
                            nameRotate:0,
                            type: 'value',
                            scale: true,
                            nameTextStyle: {
                                fontSize:10,
                            },
                            axisPointer: {
                                show: true,
                            },
                            axisLabel: {
                                fontSize:10,
                            },
                            axisLine: {
                                show: true,
                            },
                        },
                        {
                            gridIndex: 1,
                            name: 'bsadf_mi\nrho_45\nbsmov',
                            nameLocation:'middle',
                            nameGap:42,
                            nameRotate:0,
                            type: 'value',
                            scale: true,
                            nameTextStyle: {
                                fontSize:10,
                            },
                            axisPointer: {
                                show: true,
                            },
                            axisLabel: {
                                fontSize:10,
                            },
                            axisLine: {
                                show: true,
                            },
                            max: 2.75,
                            min: -2,
                        },
                        {
                            gridIndex: 2,
                            name: 'rho_sigma\ns_mov',
                            nameLocation:'middle',
                            nameGap:42,
                            nameRotate:0,
                            type: 'value',
                            scale: true,
                            nameTextStyle: {
                                fontSize:10,
                            },
                            axisPointer: {
                                show: true,
                            },
                            axisLabel: {
                                fontSize:10,
                            },
                            axisLine: {
                                show: true,
                            },

                        },
                        {
                            gridIndex: 3,
                            name: 'rho_trend\nrho_trend2',
                            nameLocation:'middle',
                            nameGap:42,
                            nameRotate:0,
                            type: 'value',
                            scale: true,
                            nameTextStyle: {
                                fontSize:10,
                            },
                            axisPointer: {
                                show: true,
                            },
                            axisLabel: {
                                fontSize:10,
                            },
                            axisLine: {
                                show: true,
                            },
                        },
                    ],
                    series: [
                        {
                            symbol: "none",
                            name: 'close',
                            type: 'line',
                            data: data.close,
                            lineStyle:{
                                    width:1,//设置线条粗细
                                }
                        },
                        {
                            symbol: "none",
                            name: 'clmov',
                            type: 'line',
                            data: data.clmov,
                            lineStyle:{
                                    width:1//设置线条粗细
                                }
                        },
                        {
                            symbol: "none",
                            name: 'rho_45',
                            type: 'line',
                            xAxisIndex: 1,
                            yAxisIndex: 1,
                            symbolSize: 8,
                            // prettier-ignore
                            data: data.rho_45,
                            lineStyle:{
                                    width:1//设置线条粗细
                                }
                        },
                        {
                            symbol: "none",
                            name: 'bsadf_mi',
                            type: 'line',
                            xAxisIndex: 1,
                            yAxisIndex: 1,
                            symbolSize: 8,
                            // prettier-ignore
                            data: data.bsadf_mi,
                            lineStyle:{
                                    width:1//设置线条粗细
                                }
                        },
                        {
                            symbol: "none",
                            name: 'bsmov',
                            type: 'line',
                            xAxisIndex: 1,
                            yAxisIndex: 1,
                            symbolSize: 8,
                            // prettier-ignore
                            data: data.bsmov,
                            lineStyle:{
                                    width:1//设置线条粗细
                                }
                        },
                        {
                            symbol: "none",
                            name: 'rho_sigma',
                            type: 'line',
                            xAxisIndex: 2,
                            yAxisIndex: 2,
                            symbolSize: 8,
                            // prettier-ignore
                            data: data.rho_sigma,
                            lineStyle:{
                                    width:1//设置线条粗细
                                }
                        },
                        {
                            symbol: "none",
                            name: 's_mov',
                            type: 'line',
                            xAxisIndex: 2,
                            yAxisIndex: 2,
                            symbolSize: 8,
                            // prettier-ignore
                            data: data.s_mov,
                            lineStyle:{
                                    width:1//设置线条粗细
                                }
                        },
                        {
                            symbol: "none",
                            name: 'rho_trend',
                            type: 'line',
                            xAxisIndex: 3,
                            yAxisIndex: 3,
                            symbolSize: 8,
                            // prettier-ignore
                            data: data.rho_trend,
                            lineStyle:{
                                    width:1//设置线条粗细
                                }
                        },
                        {
                            symbol: "none",
                            name: 'rho_trend2',
                            type: 'line',
                            xAxisIndex: 3,
                            yAxisIndex: 3,
                            symbolSize: 8,
                            // prettier-ignore
                            data: data.rho_trend2,
                            lineStyle:{
                                    width:1//设置线条粗细
                                }
                        },
                        {
                            name: 'down1',
                            type: 'scatter',
                            symbol: "circle",
                            xAxisIndex: 3,
                            yAxisIndex: 3,
                            symbolSize: 8,
                            // prettier-ignore
                            data: data.down1,
                        },
                        {
                            name: 'up1',
                            type: 'scatter',
                            symbol: "circle",
                            xAxisIndex: 3,
                            yAxisIndex: 3,
                            symbolSize: 8,
                            // prettier-ignore
                            data: data.up1,
                        },
                    ],
                    
                };

                // 使用刚指定的配置项和数据显示图表。
                djiChart.setOption(option);
              },
              complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                $('#loader').addClass('hidden')
            },
              error: function () {
                alert('Error: ajax 请求出错！')
              },
            });
        </script>
        
    </div>

{% endblock %}